@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/utilities" layer(utilities);

@theme {
  --color-primary: #5057EA;
  --color-disabled: #F8F8F8;
  --color-inactive: #F4F4F4;
  --color-grey: #EBEBEB;
  --color-destructive: #FF0000;
}

@layer base {
  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: "Inter", sans-serif;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
}